#countlabel {
    display: block;
    text-align: center;
    font-size: 10em;
    font-family: Helvetica;

}

#btnContainer {
    text-align: center;    
}

.btn {
    padding: 10px 20px;
    font-size: 1.5em;
    color: white;
    background-color: rgb(37, 92, 196);
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.25s;


}

.btn:hover {
    background-color:rgb(136, 0, 255);
}